# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# Database
database/*.db
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db